<h1 mat-dialog-title>Location:</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Location Name</mat-label>
    <input matInput [(ngModel)]="data.name" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Location Latitude</mat-label>
    <input matInput [(ngModel)]="data.latitude" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Location Longitude</mat-label>
    <input matInput [(ngModel)]="data.longitude" required>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()" cdkFocusInitial>Cancel</button>
    <button mat-button [mat-dialog-close]="data">Save</button>
  </div>
</div>
