/* You can add global styles to this file, and also import other style files */
$nav-height: 53px;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-map,
app-table {
  height: calc(100vh - $nav-height);
  display: block;
}
